.form {
    
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
input {
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 20px 0;
    width: 100%;
}
.page{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
h1{
    text-align: center;
    margin-bottom: 0%;
}
.btn{
    border: none;
    outline: none;
    background: none;
    color: blue;
    display: inline;
    font-size: 1em;
}
p{
    display: inline;
}
.error{
    color: red;
    font-size: 0.9em;
}