.main{
    width: auto;
    color: red;
    display: flex;
    flex-direction: row;
    margin:10px ;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-between;
    padding:10px ;
}
input{
    width: 80%;
    height: 30px;
}