.main{
    background-color: #a38787;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97vh;
    justify-content: space-between;
    
    left: 0;
    top: 0;
    position: relative;
    overflow: hidden;
    bottom: 0;
    right: 0;
    margin: none;


}
.newusers{
    display: flex;
    flex-direction:  column ;
    border :1px solid greenyellow;
}